@import "./_mixins";
@import "./_veriables";
 
.information{
    .content{
        img{
            width: 80%;
        }
        .blocks{
            display: flex;
            margin: 30px;
        }
        .information-top{
            img{
               width: 50px;

            }
        }
    }
}